# Ignore contents of uploads directory but keep the directory
uploads/*
!uploads/.gitkeep

# Python virtual environment
venv/
__pycache__/
*.pyc

# Instance folder
instance/

# IDE specific files
.vscode/
.idea/

# Environment variables
.env
.env.*
